# =========================
# Java / Maven
# =========================
target/
*.class
*.log

# =========================
# Selenium / Test artifacts
# =========================
screenshots/
reports/
allure-results/
allure-report/

# =========================
# Environment / Config
# =========================
*.env
config/*.properties

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
logs/
